{
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "bracketSpacing": true,
  "tabWidth": 2,
  "printWidth": 80,
  "embeddedLanguageFormatting": "auto",
  "plugins": ["prettier-plugin-tailwindcss"],
  "endOfLine": "crlf",
  "overrides": [
    {
      "files": ["*.json", "*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "singleQuote": true
      }
    }
  ]
}
